@model VigenereDecipher;
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Decipher Vigenere";

    var ReceiverRsaPrivateKey = HttpContextAccessor.HttpContext?.Session.GetString("SenderRsaPublicKeyPart1") ?? "";
}
 
<div class="text-center">
    <h5 class="display-6">Vigenere Decipher</h5>
    <p>Enter the keyword, CipherText and Rsa Sign:</p>
</div>

@using (Html.BeginForm( "Decipher", "Vigenere", FormMethod.Post) )
{
    <div class="form-group">
        <label class="control-label" for="Keyword">Keyword:</label>
        @Html.TextBoxFor(m => m.Keyword, new { Class = "form-control"})
        <span class="text-danger">@Html.ValidationMessageFor(m => m.Keyword)</span>
    </div>
    <br>
    <div class="form-group">
        <label class="control-label" for="Ciphertext">Ciphertext:</label>
        @Html.TextBoxFor(m => m.Ciphertext, new { Class = "form-control"})
        <span class="text-danger">@Html.ValidationMessageFor(m => m.Ciphertext)</span>
    </div>
    
    <br>
    <div class="form-group">
        <label class="control-label" for="DiffieHellmanSecretKey">DiffieHellmanSecretKey:</label>
        @Html.TextBoxFor(m => m.DiffieHellmanSecretKey, new { Class = "form-control"})
        <span class="text-danger">@Html.ValidationMessageFor(m => m.DiffieHellmanSecretKey)</span>
    </div>
    <br>
    <div class="form-group">
        <label class="control-label" for="DeAssociatedKey">DeAssociatedKey:</label>
        @Html.TextBoxFor(m => m.DeAssociatedKey, new { Class = "form-control", @disabled = "disabled"} )
        <span class="text-danger">@Html.ValidationMessageFor(m => m.DeAssociatedKey)</span>
    </div>
    <br>
    <div class="form-group">
        <label class="control-label" for="RsaPublicKey">Sender Rsa Public Key:</label>
        <input class="form-control" type="text" value="@ReceiverRsaPrivateKey" disabled>   
        <span class="text-danger">@Html.ValidationMessageFor(m => m.RsaPublicKey)</span>    
    </div>
    <br>
    <div class="form-group">
        <label class="control-label" for="RsaSignature">Sender Rsa Sign of Md5:</label>
        @Html.TextAreaFor(m => m.RsaSignature, new { Class = "form-control"})
        <span class="text-danger">@Html.ValidationMessageFor(m => m.RsaSignature) </span>
    </div>
    <br>
    <div class="form-group">
        <input type="submit" value="Decrypt" class="btn btn-primary" />
    </div>
}

<br>
<div class="form-group">
    
    @if(@ViewBag.CheckRsaSign is null)
    {
        @if(@ViewBag.Md5Verify is null)
        {
            <br>
        <input class="form-control" type="text" value="Plaintext Will Appear Here" disabled>
        }
        else
        {
            <label class="control-label" for="Hash">Md5 Check Result:</label>
            <br>
            <input class="form-control" type="text" value="@ViewBag.Md5Verify" disabled>
            
            
            if(@ViewBag.Plaintext is not null)
            {
                <br>
                <label class="control-label" for="Plaintext">Vigenere Plaintext:</label>
                <br>
                <input class="form-control" type="text" value="@ViewBag.Plaintext" disabled>
            }

        }
    }
    else
    {
        <br>
        <input class="form-control" type="text" value="@ViewBag.CheckRsaSign" disabled>
    }
    
</div>

