@model VigenereEncipher;

@{
    ViewData["Title"] = "Vigenere Home";
}

<div class="text-center">
    <h1 class="display-4">Vigenere Encipher</h1>
    <p>You can enter the key and text below to be encrypted</a>.</p>
</div>

@using (Html.BeginForm("Encipher","Vigenere",FormMethod.Post))
{
    <div class="form-group">
        <label class="control-label" for="Keyword">Keyword:</label>
        @Html.TextBoxFor(m => m.Keyword, new { Class = "form-control"})
        <span class="text-danger">@Html.ValidationMessageFor(m => m.Keyword)</span>
    </div>
    <br>
    <div class="form-group">
        <label class="control-label" for="Plaintext">Plaintext:</label>
        @Html.TextBoxFor(m => m.Plaintext, new { Class = "form-control"})    
        <span class="text-danger">@Html.ValidationMessageFor(m => m.Plaintext)</span>    
    </div>
    <br>
    <div class="form-group">
        <input type="submit" value="Encrypt" class="btn btn-primary" />
    </div> 
}

<br>
<div class="form-group">
    @if(@ViewBag.Ciphertext is null)
    {
        <input class="form-control" type="text" value="Cipher Text Will Appear Here" disabled>
    }
    else
    {
        <input class="form-control" type="text" value="@ViewBag.Ciphertext" disabled>
    }
</div>

