@model VigenereEncipher;
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Vigenere Encipher";
    
    var SenderRsaPrivateKey1 = HttpContextAccessor.HttpContext?.Session.GetString("SenderRsaPrivateKeyPart1");
    var SenderRsaPrivateKey2 = HttpContextAccessor.HttpContext?.Session.GetString("SenderRsaPrivateKeyPart2");

    var RsaSignedMessage = HttpContextAccessor.HttpContext?.Session.GetString("SenderRsaSignedMessage");


    var SenderMd5Hash = HttpContextAccessor.HttpContext?.Session.GetString("SenderMd5Hash");
}
<div class="text-center">
    <h5 class="display-6">Vigenere Encipher</h5>
    <p>You can enter the key and text below to be encrypted</a>.</p>
</div>

@using (Html.BeginForm("Encipher","Vigenere",FormMethod.Post))
{
    <div class="form-group">
        <label class="control-label" for="Keyword">Keyword:</label>
        @Html.TextBoxFor(m => m.Keyword, new { Class = "form-control"})
        <span class="text-danger">@Html.ValidationMessageFor(m => m.Keyword)</span>
    </div>
    <br>
    <div class="form-group">
        <label class="control-label" for="Plaintext">Plaintext:</label>
        @Html.TextBoxFor(m => m.Plaintext, new { Class = "form-control"})    
        <span class="text-danger">@Html.ValidationMessageFor(m => m.Plaintext)</span>    
    </div>
    <br>
    <div class="form-group">
        <label class="control-label" for="DiffieHellmanSecretKey">DiffieHellman Secret Key:</label>
        @Html.TextBoxFor(m => m.DiffieHellmanSecretKey, new { Class = "form-control"})
        <span class="text-danger">@Html.ValidationMessageFor(m => m.DiffieHellmanSecretKey)</span>
    </div>
    <br>
    <div class="form-group">
        <label class="control-label" for="AssociatedKey">AssociatedKey:</label>
        @Html.TextBoxFor(m => m.AssociatedKey, new { Class = "form-control", @disabled = "disabled"} )
        <span class="text-danger">@Html.ValidationMessageFor(m => m.AssociatedKey)</span>
    </div>
    <br>
    <div class="form-group">
        <label class="control-label" for="RsaPrivateKey">Rsa Private Key:</label>
        <input class="form-control" type="text" value="@SenderRsaPrivateKey1, @SenderRsaPrivateKey2" disabled>   
        <span class="text-danger">@Html.ValidationMessageFor(m => m.RsaPrivateKey)</span>    
    </div>
    <br>
    <div class="form-group">
        <label class="control-label" for="Hash">MD5 Hash of Encrypted Message:</label>
        <input class="form-control" type="text" value="@SenderMd5Hash" disabled>   
        <span class="text-danger">@Html.ValidationMessageFor(m => m.Hash)</span> 
    </div>
    <br>
    <div class="form-group">
        <label class="control-label" for="">Rsa Sign of Md5 Hash:</label>
        <textarea class="form-control" disabled>@RsaSignedMessage</textarea>    
    </div>
    <br>
    <div class="form-group">
        <input type="submit" value="Encrypt" class="btn btn-primary" />
    </div> 
}

<br>
<div class="form-group">
    @if(@ViewBag.Ciphertext is null)
    {
        <input class="form-control" type="text" value="Cipher Text Will Appear Here" disabled>
    }
    else
    {
        <label class="control-label" for="Ciphertext">Vigenere Ciphertext:</label>
        <input class="form-control" type="text" value="@ViewBag.Ciphertext" disabled>
    }
</div>

