@model DiffieHellman;
@inject IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "DiffieHellman Receiver";
    
    var SenderPrimitiveRoot = HttpContextAccessor.HttpContext.Session.GetString("DiffieSenderPrimitiveRoot");
    var SenderPrimeNumber = HttpContextAccessor.HttpContext.Session.GetString("DiffieSenderPrimeNumber");
    var SenderPublicKey = HttpContextAccessor.HttpContext.Session.GetString("DiffieSenderPublicKey");
}

<div class="text-center">
    <h1 class="display-4">DiffieHellman Receiver</h1>
    <p>Enter details below to generate public key</a>.</p>
</div>

@using (Html.BeginForm("DiffieHellmanReceiver", "DiffieHellman", FormMethod.Post))
{
    <div class="form-group">
        <label class="control-label" for="ReceiverPrimeNumber">Prime Number:</label>
        @Html.TextBoxFor(m => m.ReceiverPrimeNumber, new { Class = "form-control"})
        <span class="text-danger">@Html.ValidationMessageFor(m => m.ReceiverPrimeNumber)</span>
    </div>
    <br>
    <div class="form-group">
        <label class="control-label" for="ReceiverPrivateKey">Private Key:</label>
        @Html.TextBoxFor(m => m.ReceiverPrivateKey, new { Class = "form-control"})    
        <span class="text-danger">@Html.ValidationMessageFor(m => m.ReceiverPrivateKey)</span>    
    </div>
    <br>
    <div class="form-group">
        <label class="control-label" for="SenderPrimitiveRoot">Primitive Root:</label>
        @* @Html.TextBoxFor(m => m.SenderPrimitiveRoot, new { Class = "form-control"})     *@
        <input class="form-control" type="text" value="@SenderPrimitiveRoot" disabled>
        <span class="text-danger">@Html.ValidationMessageFor(m => m.SenderPrimitiveRoot)</span>    
    </div>
    <br>
    <div class="form-group">
        <label class="control-label" for="SenderPrimeNumber">Sender Prime Number:</label>
        @* @Html.TextBoxFor(m => m.SenderPrimitiveRoot, new { Class = "form-control"})     *@
        <input class="form-control" type="text" value="@SenderPrimeNumber" disabled>
        <span class="text-danger">@Html.ValidationMessageFor(m => m.SenderPrimeNumber)</span>    
    </div>
    <br>
    <div class="form-group">
        <label class="control-label" for="SenderPublicKey">Sender Public Key:</label>
        @* @Html.TextBoxFor(m => m.SenderPrimitiveRoot, new { Class = "form-control"})     *@
        <input class="form-control" type="text" value="@SenderPublicKey" disabled>
        <span class="text-danger">@Html.ValidationMessageFor(m => m.SenderPublicKey)</span>    
    </div>
    <br>
    <div class="form-group">
        <input type="submit" value="Generate" class="btn btn-primary" />
    </div> 
}
<br>
<div class="form-group">
    @if(@ViewBag.ReceiverPublicKey is null)
    {
        <input class="form-control" type="text" value="DiffieHellman public key will be shown here" disabled>
    }
    else
    {   
        <label class="control-label" for="ReceiverPublicKey">ReceiverPublicKey :</label>
        <input class="form-control" type="text" value="@ViewBag.ReceiverPublicKey" disabled>
    }
</div>
<br>
@* <div class="form-group">
    @if(@ViewBag.ReceiverSecretKey is null)
    {
        <input class="form-control" type="text" value="DiffieHellman secret key will be shown here" disabled>
    }
    else
    {   
        <input class="form-control" type="text" value="@ViewBag.ReceiverSecretKey" disabled>
    }
</div>
  *@
